<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}Finance Control{% endblock %}</title>
</head>
<body>

<header class="header">
    <div class="header-content">

        <h1>Finance Control</h1>

        <p>
            Organize suas finanças de forma simples e inteligente.
        </p>

    </div>
</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>