<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Control</title>
</head>
<body>

<header>
    <h1>Finance Control</h1>
    <p>Meu primeiro sistema Full Stack com Flask. Projeto de estudo para portfólio.</p>
</header>

<main>

    <section>
        <h2>Saldo Atual</h2>
        <p>R$ 0,00</p>
    </section>

    <section>
        <a href="/nova-receita">Nova Receita</a>
        <a href="/nova-despesa">Nova Despesa</a>
    </section>

    <section>
        <h2>Últimas movimentações</h2>
        <p>Nenhuma movimentação cadastrada.</p>
    </section>

</main>

</body>
</html>